---
const navigation = [
	{ name: "Inicio", href: "/" },
	{ name: "Nosotros", href: "/about/" },
	{ name: "Blog", href: "/blog/" },
	{ name: "Proceso", href: "/process/" },
	{ name: "Menú", href: "/menu/" },
	{ name: "Galería", href: "/gallery/" },
	{ name: "Contacto", href: "/contact/" }
]
---

<nav class="flex flex-col items-center lg:flex-row gap-3">
	{navigation.map((item) => 
        <a 
        href={item.href}
        class="uppercase text-lg font-bold text-white"
        >
            {item.name}
        </a>
    )}
</nav>
